:root{
    --dark: #0D1821;
    --indigo: #344966;
    --steel: #B4CDED;
    --light: #F0F4EF;
    --sage:#BFCC94;
}

html{
    background-color: var(--steel);
}

body{
    background-color: var(--light);
    color: var(--dark);
    font-family: "Optima", sans-serif;
    border-radius: 0.2em;
    text-decoration: none;
    width:75%;
    margin:auto;
    border-style: dotted;
    border-color:var(--sage);

}


nav, footer{
    background-color: var(--indigo);
    text-align: center;
    padding: 1%;
    margin: 4%;
    border-radius: 0.2em;
}

.nav_link{
    color: var(--light);
    text-decoration: none;
    padding: 5% 1%;
}

h1, h2, h3{
    color: var(--sage);
    font-family: "Georgia", serif;
    text-decoration: none;

}

h2, h3{
    color: var(--steel);
}


p{
    color: var(--dark);
    text-decoration: none;

}

h1{
    width: 80%;
    margin: auto;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }



