:root{
    --dark: #0D1821;
    --indigo: #344966;
    --steel: #B4CDED;
    --light: #F0F4EF;
    --sage:#BFCC94;
}

html{
    background-color: var(--steel);
}

body{
    background-color: var(--light);
    color: var(--dark);
    font-family: "Optima", sans-serif;
    border-radius: 0.2em;
    text-decoration: none;
    width:75%;
    margin:auto;
    border-style: dotted;
    border-color:var(--sage);

}

button{
    background-color: var(--sage);
    color: var(--light);
    border-radius: 0.2em;
    font-family: "Optima", sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin: 1.5%;
    width: 120px;
    height: 40px;
}

section{
    margin: 10%;
}

nav, footer{
    background-color: var(--indigo);
    text-align: center;
    padding: 1%;
    margin: 4%;
    border-radius: 0.2em;
}


h1, h2, h3{
    color: var(--sage);
    font-family: "Georgia", serif;
    text-decoration: none;

}

h2, h3{
    color: var(--steel);
}


p{
    color: var(--dark);
    text-decoration: none;
    margin: 1.2%;

}

h1{
    width: 80%;
    margin: auto;
}



