<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Anja Samsom" />
    <title>Anja Samsom</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <h1>Computer Repair</h1>
    <p>Add user</p>
    <a href="/home">
        <button>Back</button>
    </a> 
  
</body>


</html>