<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Anja Samsom" />
    <title>Anja Samsom</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <h1>Computer Repair</h1>
    <section>
        <p>Add user</p>
        <a href="/login">
            <button>Back</button>
        </a> 
        <section>
            <h2>Add new user</h2>
            <p>Type a username and a valid password (8-25 characters, at least one uppercase, 
                one lowercase, one number, and one special character)</p>
            <p>Or, leave the password field empty for a generated password</p>
            <form action="/new_user" method="POST">
                <label for="username">username:</label>
                <input type="text" id="username" name="username" placeholder="username"><br><br>
                <label for="password">password:</label>
                <input type="text" id="password" name="password" placeholder="password"><br><br>
                <input type="submit" value="Submit"> 
            </form>
        </section>

        
    </section>

  
</body>


</html>