<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Anja Samsom" />
    <title>Anja Samsom</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="stylesheet" media="(max-width: 930px)" href="styles_small.css" type="text/css">
    <link rel="stylesheet" media="(max-width: 700px)" href="styles_phone.css" type="text/css">

    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <nav>

        <a class="nav_text active" href="https://anjasamsom.me/">Home</a>
        <a class="nav_text" href="https://anjasamsom.me/news">In the News</a>
        <a class="nav_text" href="https://anjasamsom.me/resume">Resume</a>
        <a class="nav_text" href="https://anjasamsom.me/about">About Me</a>

    </nav>
    <h1>Anja Samsom</h1>

    <section class="grid2">
        <figure class="bio" id="photo">
            <img id="anja_headshot" src="anja_photo.jpg" alt="Anja's photo" />
        </figure>
        <section class="bio">
            <p id="introduction">
            <h2>Hello!</h2>
            My name is Anja Samsom and I am so glad that you decided to visit my
            website! I am a Computer Science
            & Information Systems student with the Honors College at UVM in the class of 2024, am originally from
            Montpelier, VT, and enjoy involving myself
            with lots of extracurriculars at UVM. Check out the "About Me" page to learn more!
            </p>
            <p>
            <h2>Awards</h2>
            <ul>
                <li>UVM Dean's List, Fall 2020, Spring 2021, Fall 2021, Spring 2022</li>
                <li>UVM's Outstanding Sophomore, 2022</li>
                <li>UVM Computer Science Sophomore, 2022 </li>
                <li>Women and Gender Equity Center Mariafranca Morselli Leadership Award, 2022</li>
                <li>Montpelier High School Math Award, 2020</li>
                <li>Society of Women Engineers Award, 2019</li>
            </ul>
            </p>
            <p>
            <h2>Projects</h2>
            <ul>
                <li><a href="https://asamsom.w3.uvm.edu/cs008/final/index.php">UVM TV Website</a></li>
                <li><a href="https://swics.w3.uvm.edu/">SWiCS Website</a></li>

                </ul>

            </p>
        </section>
    </section>
</body>

<footer>
    <a href="https://github.com/AnjaSamsom" class="nav_text">github</a>
    <a href="https://www.goodreads.com/user/show/98122652-anja" class="nav_text">goodreads</a>
    <a href="https://www.instagram.com/superanja14/" class="nav_text">instagram</a>
    <a href="https://www.linkedin.com/in/anja-samsom/" class="nav_text">linkedin</a>
    <a href="https://heyanja.tumblr.com/" class="nav_text">tumblr</a>
    <p class="nav_text">&copy; 2022 Anja Samsom</p>
    <p class="nav_text">anjavt14@gmail.com</p>
</footer>


</html>