<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="author" content="Anja Samsom" />
    <title>Anja Samsom</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <h1>Computer Repair</h1>
    <p>You have been logged in!</p>

    
    <section>
        <h2>Select an option:</h2>
        <br>
        <a href="/order">
            <button>Order from manufacturer</button>
        </a>
        <br>
        <a href="/time">
            <button>Enter time</button>
        </a>
        <br>
        <a href="/schedule">
            <button>Schedule repair</button>
        </a>
        <br>
        <a href="/charge">
            <button>Charge customer</button>
        </a>
        <br>
        <a href="/new_user">
            <button>Add new user</button>
        </a>
    </section>

</body>


</html>